body, td, div, a {
	font-size: 12px; font-family: Î¢ÈíÑÅºÚ;
}
body {margin: 0px; }
.top{ 
	background-color:#467ca2; 
	height:65px; 
	border-bottom:solid 1px #467ca2; 
}
.title { 
	font-size:30px; 
	font-weight:bold; 
	color:#f0f0f0; 
	padding:10px 0 8px 0; 
	float:left; 
	padding-left:15px; 
	border-left:solid 1px #24292c;
}
.sys-nav{ 
	float:right; 
	font-size:0;
}
.sys-nav li { 
	display:inline-block; 
	padding:18px 30px; 
	*display:inline; 
	*zoom:1;
	font-size:0; 
	border-left:solid 1px #6196bb; 
	border-right:#6196bb solid 1px ; 
	vertical-align:top;
}
.sys-nav li.firstLi{ 
	border-left:none; 
	padding: 32px 0;
}
.sys-nav li.lastLi{ 
	border-right:none; 
	padding: 28px 0;
}
.sys-nav li  a , .sys-nav li  i{
	display:inline-block;
	*display:inline; 
	*zoom:1; 
	vertical-align:top;
}
.sys-nav li  a { 
	font-size:20px; 
	color:#ffffff; 
	padding: 0 10px;
}
.sys-nav li.haslist{ 
	position:relative; 
	z-index:99;
}
.sys-nav li  i.setting{ 
	background-position:-120px -522px;
}
.sys-nav li.active  i.setting{ 
	background-position:-120px -601px;
}
.sys-nav li i.logout {
	background-position:-355px -522px;
}

ul {
	padding-left: 0px; 
	margin: 0px; 
}
li {
	list-style-type:none;
}

#table {
	width: 100%; 
	overflow: hidden; 
}
.leftTD {
	background: #FFFFFF;
}
#leftDIV {
	width: 100%; 
	height: 100%; 
	overflow: scroll; 
}
#mainFrame{
	width:100%;
	height:650px;
}

ul,li{
	list-style: none;
}
a:link,a:visited{
	text-decoration: none;
}
.list{
	border-bottom:solid 1px #316a91;
	margin:-320px auto 0 auto;
}
.list ul li{
	background-color:#467ca2; 
	border:solid 1px #316a91; 
	border-bottom:0;
}
.list ul li a{
	padding-left: 10px;
	color: #fff; 
	font-size:12px; 
	display: block; 
	font-weight:bold; 
	height:36px;
	line-height:36px;
	position: relative;
}
.list ul li ul li { 
	border-left:0; 
	border-right:0; 
	background-color:#6196bb; 
	border-color:#467ca2;
}
.list ul li ul li a{ 
	padding-left:35px;
}

